<p class="mailling-instructions">
	Obrigada pelo interesse em assinar a lista! Para garantir o recebimento, recomendamos que você adicione o email dicasdefrontend@gmail.com para sua lista de contatos. Desse modo nossa newsletter não cairá no spam :)
</p>